body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul.grid {
  --gap: 5px;
  --border-radius: 20px;
  border-radius: var(--border-radius);
  margin: 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  border: var(--gap) black solid;
  gap: var(--gap);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

ul.grid>* {
  list-style: none;
  background-color: rgb(195, 255, 255);
  width: 4rem;
  height: 4rem;
}

ul.grid>*:nth-child(1) {
  border-top-left-radius: var(--border-radius);
}

ul.grid>*:nth-child(10) {
  border-top-right-radius: var(--border-radius);
}

ul.grid>*:nth-child(91) {
  border-bottom-left-radius: var(--border-radius);
}

ul.grid>*:nth-child(100) {
  border-bottom-right-radius: var(--border-radius);
}